.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

#avatar{
    height: 3rem;
    width: 3rem;
    position: top-left;
    margin-top: -10%;
    margin-left: -5%;
    z-index: 1;
}
#avatar2{
    height: 5rem;
    width: 5rem;
    /* position: top-left; */
    /* margin-top: -10%;
    margin-left: -5%; */
    z-index: 1;
}

.jumbotron{
    margin-top: 2%;
}

#homejumbotron{
  margin-top: 1%;
  width: 35rem;
}

#commentjumbotron{

  width: 35rem;
}

#homepagecard{
  margin-top: 1%;
  width: 10rem;
  height: 20rem;
  position: sticky;
}

#homepagecardimg{
  height: 5rem;
  width: 5rem;
  margin-top: 25%;
  
}
/* .card-body{
  margin-top: 25%;
} */
#homepagecardimagediv{
  margin-top: 5%;
}
#contentdiv{
  margin-left: 1%;
}

#postintro{
  margin-left: -2%;
  margin-top: -10%;
}

#hashtag{
  float: right;
}