{% macro render_field(field, label_visible=true) %}

        {{ field(class_='form-control validate' , **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>

            {% endfor %}
        {% else %}
            {% if field.type != 'HiddenField' and label_visible %}
            <label for="{{ field.id }}" data-error="wrong" data-success="right">{{ field.label }}</label>
            {% endif %}
        {% endif %}
    
{% endmacro %}

{% macro render_photo(field, label_visible=true) %}

        {{ field(class_='form-control-file validate' , **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <span class="text-danger">{{ e }}</span>

            {% endfor %}
        <!-- {% else %}
            {% if field.type != 'HiddenField' and label_visible %}
            <label for="{{ field.id }}" data-error="wrong" data-success="right">{{ field.label }}</label>
            {% endif %}
        {% endif %}
     -->
{% endmacro %}

